*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:#f0f2f5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text p, h1{
    margin-bottom: 16px;
}
.background{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

nav{
    background-color: white;
    display: flex;
    padding: 5px 50px;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
    position: fixed;
    width: 100%;
    top: 0;
}
nav :nth-child(2){
    font-size: 17px;
    font-weight: 500;
    margin: auto 1px;
    
}
#logo{
    height: 100px;
    width: 250px;
}

.logo{
    font-weight: bold;
    font-size: larger;
}
.wrapper{
    width: 700px;
    padding: 20px;
    background-color: white;
    height: auto;
    margin: 150px auto 100px;
    border-radius: 15px;
}


form{
    flex-direction: column;
    display: flex;
}

#watts, #hour{
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 3px;
    border-radius: 3px;
}

button{
    padding: 8px;
    font-size: 16px;
    width: 60%;
    background-color: rgb(53, 53, 128);
    color: #fff;
    border-radius: 12px;
    border: none;
    margin: 20px 20%;
    cursor: pointer;
}

button:hover{
    background-color: #d3d3d3;
    color: black;

}

p, label,input{
    line-height: 28px;
    font-size: 18px;
}
#inquire{
    font-size: 18px;
    font-style: italic;
    margin-top: 16px;
}

.bolded{
    font-weight: bold;
}
input{
    background-color: #d3d3d3;
    border-radius: 30px;
    border: none;
}
label{
    font-weight: bold;
    margin-top: 10px;
}

#call{
    margin-top: 50px;
}
footer{
    border-top: 0.5px solid black;
    background-color: rgb(76, 76, 195);
    padding: 20px 20px;
    margin-top: 50px;
}
footer > p{
    font-size: 16px;
    color: whitesmoke;
    text-align: center;

}


@media only screen and (max-width:768px) {
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    padding: 10px 1px;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-radius: 10px;
}
nav :nth-child(2){
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
p, label,input{
    line-height: 28px;
    font-size: 16px;
}

#inquire{
    font-size: 16px;
    font-style: italic;
    margin-top: 16px;
}


#logo{
    height:50px;
}
.wrapper{
    width: auto;
    padding: 20px;
    margin: 110px 2px;
    height: auto;
    background-color: white;

}


#watts, #hour{
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 3px;
    border-radius: 3px;
}

button{
    padding: 8px;
    font-size: 15px;
    width: 60%;
    background-color: rgb(53, 53, 128);
    color: #fff;
    border-radius: 12px;
    border: none;
    margin-bottom: 20px;
    margin-left: 55px;
}
footer > p{
    font-size: 14px;
    color: whitesmoke;
    text-align: center;

}


}